<div>
  <%= video_tag "first_view.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "first_view" %>
</div>

<div class="content">
  <h1>PORTFOLIO</h1>
  <div class="portfolio">
    <div class="portfolio_item">
      <%= image_tag "call_of_the_wild.jpg", :size => '300x400' %>
    </div>
    <div class="portfolio_item">
      <%= image_tag "detective_pikachu.jpg", :size => '300x400' %>
    </div>
    <div class="portfolio_item">
      <%= image_tag "dumbo.jpg", :size => '300x400' %>
    </div>
  </div>
</div>

<div class="content">
  <h1>ABOUT</h1>
  <div class="about">
    <div class="about_item">
      <%= image_tag "profile_image.png", :size => '250x250' %>
    </div>
    <div class="about_item introduction">
      <h2>Shota Kimura</h2>
      <h4>Houdini FX artist</h4>
    </div>
  </div>
</div>

<div class="content">
  <h1>CONTACT</h1>
  <div class="contact">
    
  </div>
</div>
